<h1>あんだーぐらうんど</h1>

<%= link_to 'ルーム一覧', controller: :rooms, action: :index %>
<%= link_to 'ルーム作成', controller: :rooms, action: :new %><br>

<% @rooms.each do |room| %>
  <div class="room-home">
  <%= room.name %><br>
  <%= room.description %>
  </div><br>
<% end %>
